.faq-item {
  margin: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;

  .faq-item-title {
    font-size: 30px;
    font-weight: bold;
    @include fadeIn(5s);
  }

  .faq-item-body {
    font-size: 22px;
    font-weight: normal;
    @include fadeIn(10s);
  }
}
