$home-info-box: 400px;

.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  .home-info {
    height: $home-info-box;
    width: $home-info-box;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    color: white;
    padding-top: 200px;

    .heading {
      font-size: 30px;
      margin-bottom: 20px;
      @include fadeIn(5s);
    }
    .subheading {
      font-size: 22px;
      margin-bottom: 10px;
      @include fadeIn(10s);
    }

    .learn-more {
      padding: 15px;
      box-shadow: 0 10px 6px -6px $text-color;
      text-decoration: none;
      cursor: pointer;
      background-color: $brand-color;
      color: $text-color;
      position: relative;
      top: 20px;
      @include fadeIn(15s);
    }
  }
}

