$loader-size: 50px;
$loader-border: 8px;

.loader {
  border: $loader-border solid #f3f3f3;
  border-radius: 50%;
  border-top: $loader-border solid $brand-color;
  width: $loader-size;
  height: $loader-size;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 200px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
