$navigation-background: #333;
$navigation-hover-color: #999;


.navigation {
  overflow: hidden;
  background-color: $navigation-background;
  opacity: 0.8;

  a,
  button {
    float: left;
    display: block;
    color: $brand-color;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
  }

  a {
    padding-top: 18px;
  }

  a:hover,
  button:hover {
    background-color: $navigation-hover-color;
  }

  .active {
    background-color: $text-color;
  }

  .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    a:not(:first-child) {
      display: none;
    }

    button.icon {
      float: right;
      display: block;
      border-radius: 0;
      padding-top: 16px;
      background-color: $text-color;
    }

    &.responsive {
      position: relative;

      .icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      a {
        float: none;
        display: block;
        text-align: left;
      }
    }
  }
}
