.faq-list-heading {
  font-size: 30px;
  color: $brand-color;
  margin: 25px;
}

.faq-list {
  margin: 25px;
  background-color: #ddd;

  .list-item {
    padding: 20px;
    font-size: 20px;
  }

  .list-item:hover,
  .list-item.active {
    color: #777;
  }
}
