$brand-color: #fa5353;
$text-color: #ddd;

html,
body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

.app {
  height: 100%;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@mixin fadeIn($duration) {
  animation-name: fadeIn;
  animation-duration: $duration;
}

@import './components/App/Navigation/Navigation';
@import './components/Home/Home';
@import './components/Faqs/Faqs';
@import './components/Faqs/FaqList/FaqList';
@import './components/Faqs/Faq/Faq';
@import './components/Loader/Loader';
